#session_status {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	.sessionInfo {
		font-size: 1.25em;
		font-weight: bold;
	}

	.dropdown-toggle {
		&:active, &:focus {
			box-shadow: none;
		}
	}
}

#sound_controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	label {
		margin-right: 3px;
		margin-bottom: 0px;
	}
}

.center{
  text-align:center;
}
.underLine{
  text-decoration: underline;
}

footer {
	margin-bottom: 1em;
}
