<div *ngIf="userService.CurrentUser$ | async as user">

	<div id="session_status">
		<div class="sessionInfo">
			{{subjectAndNumber}}: {{description}} ({{token}})
			</div>

			<div ngbDropdown class="d-inline-block">
				<button ngbDropdownToggle><i class="fas fa-cog"></i> Session Settings</button>

				<div ngbDropdownMenu>
					<button ngbDropdownItem type="button" (click)="toggleAudio()">
						<span *ngIf="audioService.Unmuted"><i class="fa fa-volume-off"></i></span>
						<span *ngIf="audioService.Muted"><i class="fa fa-volume-up"></i></span>
						Turn sound {{ audioService.Unmuted ? "off" : "on"}}
					</button>

					<button ngbDropdownItem *ngIf="user.Type ==='professors' && !ended" type="button" (click)="setEndDate()" [routerLink]="['/dashboard']">End Session</button>
					<button class="btn btn-primary" style="margin:1px;" type="button" (click)="openQRCodeModal(qrModalContent)">QR Code</button>
					<button ngbDropdownItem *ngIf="user.Type !=='students'" type="button" (click)="openCopyQuestionsModal()">Copy Questions to Another Session</button>
					<button ngbDropdownItem *ngIf="showCheck" class="btn btn-primary" type="button" (click)="pauseRefresh=false;open(content);showCheck=false;refreshData();">Select a Session</button>
					<button ngbDropdownItem *ngIf="user.Type !== 'students'" type="button" (click)="open2(content2)">Search for Questions to Add</button>
					<button ngbDropdownItem type="button" [routerLink]="['/dashboard']" placement="top" ngbTooltip="Go back to Dashboard">Back</button>
				</div>
			</div>
	</div>

  <div *ngIf="user.Type==='professors'">
    <app-faculty-session-view></app-faculty-session-view>
  </div>

  <div *ngIf="user.Type==='students' && user.Role==='ta'">
    <app-faculty-session-view></app-faculty-session-view>
  </div>

  <div *ngIf="user.Type==='students' && user.Role==='none'">
    <app-student-session-view></app-student-session-view>
  </div>

</div>

<ng-template #qrModalContent let-modal let-d="dismiss" let-c="close">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-qrcode" aria-labelledBy="modal-qrcode">QR Code</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div align="center" class="modal-body">
    <qrcode [qrdata]="qrCodeDestination" [size]="256" [level]="'M'"></qrcode>
  </div>
  <div class="modal-footer">
    <button id="copy" type="button" class="btn btn-outline-dark" (click)="copyQRCode()">Copy</button>
		<div *ngIf="qrCodeCopiedSuccessfully" class="alert alert-success">The QR Code was copied to the clipboard</div>
  </div>
</ng-template>
