<div *ngIf="userService.CurrentUser$ | async as user">

	<div id="session_status">
		<div class="sessionInfo">
			<span>{{subjectAndNumber}}: </span>
			<div *ngIf="user.Type === 'professors'; else notProfessors" class="d-inline-block">
				<div *ngIf="!editingDescription">
					<span>{{description}} </span>
					<button class="btn btn-outline-primary btn-sm" (click)="beginEditDescription()"><i class="fa fa-pencil-alt"></i></button>
				</div>
				<div *ngIf="editingDescription" class="form-inline d-inline-block">
						<input [(ngModel)]="newDescription" class="form-control" type="text" id="descriptionInput"/>
						<button class="btn btn-primary" (click)="saveEditDescription()">Save</button>
						<button class="btn btn-outline-primary" (click)="cancelEditDescription()">Cancel</button>
				</div>
			</div>
			<ng-template #notProfessors><span>{{description}} </span></ng-template>
			<span> ({{token}})</span>
		</div>

		<div ngbDropdown class="d-inline-block">
			<button ngbDropdownToggle class="btn btn-outline-primary ml-2" id="actions">Actions</button>

			<div ngbDropdownMenu>
				<!--  These options are visible only to instructional staff  -->
				<div *ngIf="user.Type !=='students' && !ended">
					<div *ngIf="!ended">
						<button ngbDropdownItem type="button" (click)="setEndDate()" [routerLink]="['/dashboard']">End Session</button>
						<button ngbDropdownItem type="button" (click)="openQRCodeModal(qrModalContent)">View Session QR Code</button>
					</div>

					<div class="dropdown-divider"></div>
					<button ngbDropdownItem type="button" (click)="openCopyQuestionsModal()">Copy Questions to Another Session</button>
					<button ngbDropdownItem *ngIf="user.Type !== 'students'" type="button" (click)="openAddQuestionsFromAnotherSessionModal(content2)">Add Questions from Another Session</button>
					<div class="dropdown-divider"></div>
				</div>

				<!--  This option is visible to all users  -->
				<button ngbDropdownItem type="button" (click)="toggleAudio()">
					<span *ngIf="audioService.Unmuted"><i class="fa fa-volume-off"></i></span>
					<span *ngIf="audioService.Muted"><i class="fa fa-volume-up"></i></span>
					Turn sound {{ audioService.Unmuted ? "off" : "on"}}
				</button>
				<button ngbDropdownItem type="button" [routerLink]="['/dashboard']" id="back">Back to Dashboard</button>
			</div>
		</div>
	</div>

	<div *ngIf="user.Type==='professors'">
		<app-faculty-session-view></app-faculty-session-view>
	</div>

	<div *ngIf="user.Type==='students' && user.Role==='ta'">
		<app-faculty-session-view></app-faculty-session-view>
	</div>

	<div *ngIf="user.Type==='students' && user.Role==='none'">
		<app-student-session-view></app-student-session-view>
	</div>

	<footer>
		<div class="center mt-3 lastRefreshed">Last refreshed: {{timeFromRefresh}}</div>
	</footer>
</div>
