<p>
Dear <%= @user.first_name %>,
</p>

<p>
<%= @instructor.full_name %> has made you a TA account
for a HelpMe!
</p>

<p>
  Your email is: <strong> <%= @user.email  %> </strong> <br>
  Your password is: <strong> <%= @user.password %> </strong>
</p>

<p>
  Thank you for using HelpMe.
</p>
