<p>
Dear <%= @request.user.first_name %>,
</p>

<p>
<%= @request.promoted_by.full_name %> has made you a TA account
for a HelpMe!
</p>

<p>
  Your email is: <strong> <%= @request.user.email  %> </strong> <br>
  Your password is: <strong> <%= @request.user.password %> </strong>
</p>

<p>
  Thank you for using HelpMe.
</p>
