@import "~variables.scss";

#possibleMatches {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid DodgerBlue; //$hopeOrange; changed orange color because looked confusing with other question lists on the page
	border-bottom: 1px solid DodgerBlue; //#f46a1f;
}

.askQuestion {
	padding-bottom: 1px;
}

label {
	padding-right: 5px;
}
