@import "~variables.scss";

#possibleMatches {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;

	border-top: 1px solid $hopeOrange;
	border-bottom: 1px solid #f46a1f;

}
button{
	padding-bottom: 1px;
}
label{
	padding-right:5px;
}
