<section>
  <h2>Join a session</h2><br>
  <form class="form-inline">
    <label>Enter a Session Code:</label>
    <input type="text" class="form-control ml-2" id="joinSession" name="token" [(ngModel)]="this.token">
    <button class="btn btn-primary form-control ml-1" (click)="joinSess()">Join</button>
  </form>
</section>

<section>
  <h2>View past sessions</h2>
  <app-session-list [sessions]="sessions"></app-session-list>
</section>

<section>
  <h2>My Questions</h2>
  <app-question-list [view]= "view" [questions]="myQuestions" [filteredQuestions]="myQuestions"></app-question-list>
</section>
