/* You can add global styles to this file, and also import other style files */

@import "~variables.scss";


@import "../node_modules/bootstrap/scss/bootstrap";
@import "~angular-notifier/styles.scss";


@font-face {
  font-family: 'clarendon';
  src: url("assets/fonts/clarendon_bold.eot");
  src: url("assets/fonts/clarendon_bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/clarendon_bold.woff") format("woff"), url("assets/fonts/clarendon_bold.ttf") format("truetype"), url("assets/fonts/clarendon_bold.svg#clarendon") format("svg");
}

h1,h2,h3,h4,h5,h6 {
	font-family: clarendon;
}

.dropdown-item:hover {
	background-color: $primary;
	color: white;
	cursor: pointer;
}

section {

	&.with-top-border {
		border-top: $hopeOrange 1px solid;
	}

  border-bottom: $hopeOrange 1px solid;
  padding-top: 2em;
  padding-bottom: 2em;

  h1 {
    color: $hopeOrange;
  }

  section {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
  }
}

button {
	background-color: $body-bg;
}
.table-caption {
  font-weight: bold;
}

.results {
  margin-top: 1em;
}

input[type='text'], input[type='password'], input[type='email'] {
	padding-left: 0.5em !important;
}
.btn:hover {
	cursor:pointer;
}

/*  Don't add padding to the QuillEditor content container when it's just displaying content */
.ql-editor[contenteditable="false"] {
	padding-top: 0px !important;
	padding-left: 0px;
}

/* Don't modify text size within the quill container  */
.ql-container {
	font-size: 100% !important;
}
