/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles.scss";
@import "~variables.scss";

section {

	&.with-top-border {
		border-top: $hopeOrange 1px solid;
	}

  border-bottom: $hopeOrange 1px solid;
  padding-top: 2em;
  padding-bottom: 2em;

  h1 {
    color: $hopeOrange;
  }

  section {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
  }
}

.table-caption {
  font-weight: bold;
}

.results {
  margin-top: 1em;
}

input[type='text'], input[type='password'], input[type='email'] {
	padding-left: 0.5em !important;
}
.btn:hover {
	cursor:pointer;
}

/*  Don't add padding to the QuillEditor content container when it's just displaying content */
.ql-editor[contenteditable="false"] {
	padding-top: 0px !important;
	padding-left: 0px;
}

/* Don't modify text size within the quill container  */
.ql-container {
	font-size: 100% !important;
}
