<label class="d-inline-block">Notification Sounds:</label>
<div class="onoffswitch">
    <input #myonoffswitch type="checkbox" (change)="toggleAudio()"  name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
<!-- <qrcode [qrdata]="href" [size]="256" [level]="'M'"></qrcode> -->
<h2 class="center underLine" >{{subjectAndNumber}}: {{description}}</h2>
<h4 class="center">The current session code is {{token}}</h4>
<p class="center">Last refreshed: {{timeFromRefresh}}</p>
<div class="largeScreen btn-group pull-left">
  <button data-toggle="tooltip" data-placement="top" title="Go back to Dashboard" class="btn btn-primary" type="button" [routerLink]="['/dashboard']">back</button><br>
  <button *ngIf="!ended" class="btn btn-primary" type="button" (click)="setEndDate()" [routerLink]="['/dashboard']">End Session</button><br>
  <button  *ngIf="!showCheck" class="btn btn-primary" type="button" (click)="showCheck = true;pauseRefresh=true;">Copy Questions to Another Session</button>
  <button *ngIf="showCheck" class="btn btn-primary" type="button" (click)="pauseRefresh=false;open(content);showCheck=false;refreshData();">Select a Session</button>
  <button class="btn btn-primary" type="button" (click)="open2(content2)">Search for Questions to Add</button>
  <button class="btn btn-primary" type="button" (click)="open3(content3)">QR Code</button>
</div>
<div class="smallScreen">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Additional Actions</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="['/dashboard']">Back</button>
            <button ngbDropdownItem *ngIf="!ended" (click)="setEndDate()" [routerLink]="['/dashboard']">End Session</button>
            <button ngbDropdownItem *ngIf="!showCheck" (click)="showCheck = true;pauseRefresh=true;" >Copy Questions to Another Session</button>
            <button ngbDropdownItem *ngIf="showCheck" (click)="pauseRefresh=false;open(content);showCheck=false;refreshData();">Select a Session</button>
            <button ngbDropdownItem (click)="open2(content2)">Search for Questions to Add</button>
      </div>
    </div>
  </div>
</div>
<section>
  <app-question-list id="unclaimedQs" [header]= "unclaimedQHeader" [showAskedBy]= "true" [showTags]= "true"
  [showTimeInQueue]= "true" [showAnswer]= "false" [showClaimButton]= "true" [showAssignButton]= "true"
  [showDeleteButton]= "true" [questions]="unclaimedQs" [filteredQuestions]="unclaimedQs"
  [currentDate]="currentDate" [showNumberOfAskers]="true" [isCollapsed]="false" [showCheck]="showCheck"
  [playSound]="playSound" (refreshEvent)="refreshData($event)" (pauseRefresh)="setPauseRefresh($event)"
  (claimedQEvent)="scrollToClaimedQ()"></app-question-list>
</section>

<section #claimedQuestions>
  <app-question-list #claimedQs id="claimedQs" [header]= "myQHeader" [showAskedBy]= "true" [showTags]= "true"  [showTimeInQueue]= "true"
  [showAnswer]= "false" [showAnswerButton]= "true" [showAssignButton]= "true" [showDeleteButton]= "true"
  [questions]="myQs" [filteredQuestions]="myQs" [currentDate]="currentDate" [showCheck]="showCheck"
  [showNumberOfAskers]="true" [isCollapsed]="claimedCollapsed" [showUnclaimButton]="true"
  [playSound]="playSound" (refreshEvent)="refreshData($event)" (pauseRefresh)="setPauseRefresh($event)"
  (claimedQEvent)="scrollToClaimedQ()" (openCloseEvent)="changeCollapseState()"></app-question-list>
</section>

<section>
  <app-question-list id="faqs" [header]= "faqHeader" [showEditButton]= "true" [showFAQButton]= "true" [questions]="faQs"
  [filteredQuestions]="faQs" [currentDate]="currentDate" [showDeleteButton]= "true" [showCheck]="showCheck"
  [playSound]="playSound" (refreshEvent)="refreshData($event)" (pauseRefresh)="setPauseRefresh($event)"
  (claimedQEvent)="scrollToClaimedQ()"></app-question-list>
</section>

<section>
  <app-question-list id="otherQs" [header]= "otherQHeader" [showAnswerButton]= "true" [showEditButton]= "true" [showFAQButton]= "true" [showClaimedBy]= "true"
  [showAnswer]="true"[questions]="otherQs" [filteredQuestions]="otherQs" [currentDate]="currentDate"
  [showDeleteButton]= "true" [showCheck]="showCheck" [playSound]="playSound" (refreshEvent)="refreshData($event)"
  (pauseRefresh)="setPauseRefresh($event)" (claimedQEvent)="scrollToClaimedQ()"></app-question-list>
</section>

<ng-template #content let-modal let-d="dismiss" let-c="close">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-search-sessions" aria-labelledBy="modal-search-sessions">Search Labsessions</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-session-search></app-session-search>
  </div>
</ng-template>

<ng-template #content2 let-modal let-d="dismiss" let-c="close">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-search-previous-questions" aria-labelledBy="modal-search-previous-questions">Search Labsessions</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-search-previous-questions></app-search-previous-questions>
  </div>
</ng-template>

<ng-template #content3 let-modal let-d="dismiss" let-c="close">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-qrcode" aria-labelledBy="modal-qrcode">QR Code</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div align="center" class="modal-body">
    <qrcode [qrdata]="href" [size]="256" [level]="'M'"></qrcode>
  </div>
</ng-template>
