<!-- <div id="session_status">
	<div class="sessionInfo">
		{{subjectAndNumber}}: {{description}} ({{token}})
		</div>

		<div ngbDropdown class="d-inline-block">
			<button ngbDropdownToggle><i class="fas fa-cog"></i> Session Settings</button>

			<div ngbDropdownMenu>
				<button ngbDropdownItem type="button" (click)="toggleAudio()">
					<span *ngIf="playSound"><i class="fa fa-volume-off"></i></span>
					<span *ngIf="!playSound"><i class="fa fa-volume-up"></i></span>
					Turn sound {{ playSound ? "off" : "on"}}
				</button>

				<button ngbDropdownItem *ngIf="!ended" type="button" (click)="setEndDate()" [routerLink]="['/dashboard']">End Session</button>
				<button ngbDropdownItem *ngIf="!showCheck" type="button" (click)="showCheck = true;pauseRefresh=true;">Copy Questions to Another Session</button>
				<button ngbDropdownItem *ngIf="showCheck" class="btn btn-primary" type="button" (click)="pauseRefresh=false;open(content);showCheck=false;refreshData();">Select a Session</button>
				<button ngbDropdownItem type="button" (click)="open2(content2)">Search for Questions to Add</button>
				<button ngbDropdownItem type="button" [routerLink]="['/dashboard']">Back to dashboard</button>
			</div>
		</div>
</div> -->

<section>
  <app-question-list id="unclaimedQs" [header]= "unclaimedQHeader" [showAskedBy]= "true" [showTags]= "true"
  [showTimeInQueue]= "true" [showAnswer]= "false" [showClaimButton]= "true" [showAssignButton]= "true"
  [showDeleteButton]= "true" [questions]="unclaimedQs" [filteredQuestions]="unclaimedQs"
  [currentDate]="currentDate" [showNumberOfAskers]="true" [isCollapsed]="false" [showCheck]="showCheck"
  [playSound]="playSound" (refreshEvent)="refreshData($event)" (pauseRefresh)="setPauseRefresh($event)"
  (claimedQEvent)="scrollToClaimedQ()"></app-question-list>
</section>

<section #claimedQuestions>
  <app-question-list #claimedQs id="claimedQs" [header]= "myQHeader" [showAskedBy]= "true" [showTags]= "true"  [showTimeInQueue]= "true"
  [showAnswer]= "false" [showAnswerButton]= "true" [showAssignButton]= "true" [showDeleteButton]= "true"
  [questions]="myQs" [filteredQuestions]="myQs" [currentDate]="currentDate" [showCheck]="showCheck"
  [showNumberOfAskers]="true" [isCollapsed]="claimedCollapsed" [showUnclaimButton]="true"
  [playSound]="playSound" (refreshEvent)="refreshData($event)" (pauseRefresh)="setPauseRefresh($event)"
  (claimedQEvent)="scrollToClaimedQ()" (openCloseEvent)="changeCollapseState()"></app-question-list>
</section>

<section>
  <app-question-list id="faqs" [header]= "faqHeader" [showEditButton]= "true" [showFAQButton]= "true" [questions]="faQs"
  [filteredQuestions]="faQs" [currentDate]="currentDate" [showDeleteButton]= "true" [showCheck]="showCheck"
  [playSound]="playSound" (refreshEvent)="refreshData($event)" (pauseRefresh)="setPauseRefresh($event)"
  (claimedQEvent)="scrollToClaimedQ()"></app-question-list>
</section>

<section>
  <app-question-list id="otherQs" [header]= "otherQHeader" [showAnswerButton]= "true" [showEditButton]= "true" [showFAQButton]= "true" [showClaimedBy]= "true"
  [showAnswer]="true"[questions]="otherQs" [filteredQuestions]="otherQs" [currentDate]="currentDate"
  [showDeleteButton]= "true" [showCheck]="showCheck" [playSound]="playSound" (refreshEvent)="refreshData($event)"
  (pauseRefresh)="setPauseRefresh($event)" (claimedQEvent)="scrollToClaimedQ()"></app-question-list>
</section>

<footer>
	<div class="center mt-3 lastRefreshed">Last refreshed: {{timeFromRefresh}}</div>
</footer>

<ng-template #content let-modal let-d="dismiss" let-c="close">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-search-sessions" aria-labelledBy="modal-search-sessions">Search Labsessions</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-session-search></app-session-search>
  </div>
</ng-template>

<ng-template #content2 let-modal let-d="dismiss" let-c="close">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-search-previous-questions" aria-labelledBy="modal-search-previous-questions">Search Labsessions</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-search-previous-questions></app-search-previous-questions>
  </div>
</ng-template>
