<section>
  <h2>Unclaimed Questions</h2>
  <app-question-list [showAskedBy]= "true" [showTags]= "true"  [showTimeInQueue]= "true" [showAnswer]= "false" [showClaimButton]= "true" [showAssignModal]= "true" [showDeleteButton]= "true" [questions]="unclaimedQs" [filteredQuestions]="unclaimedQs" [currentDate]="currentDate" [showNumberOfAskers]="true"></app-question-list>
</section>

<section>
  <h2>My Questions</h2>
  <app-question-list [showAskedBy]= "true" [showTags]= "true"  [showTimeInQueue]= "true" [showAnswer]= "false" [showAnswerButton]= "true" [showAssignModal]= "true" [showDeleteButton]= "true" [questions]="myQs" [filteredQuestions]="myQs" [currentDate]="currentDate" [showNumberOfAskers]="true"></app-question-list>
</section>

<section>
  <h2>Frequently Asked Questions</h2>
  <app-question-list  [showEditButton]= "true" [showFAQButton]= "true" [questions]="faQs" [filteredQuestions]="faQs" [currentDate]="currentDate"></app-question-list>
</section>

<section>
  <h2>Other Questions</h2>
  <app-question-list [showEditButton]= "true" [showFAQButton]= "true" [questions]="otherQs" [filteredQuestions]="otherQs" [currentDate]="currentDate"></app-question-list>
</section>
