
.smallScreen{
  display:none;
}

 
th, td {
  vertical-align: middle;
  padding: 0.25rem;
}

.description {
  display:flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 600px){
  .smallScreen{
    display:inline;
  }
  .largeScreen{
    display:none;
  }
  .qEditor{
    border:none;
    margin-left:10px;
  }
}
