<div class="largeScreen">
<input type="text" class="form-control" [(ngModel)]="searchText" placeholder="search session"/>
<div class="results">
<p *ngIf="filter()" class="table-caption">{{label}}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Course</th>
        <th>Professor</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sessionList" *ngFor = "let session of sessions | sessionfilter: searchText">
        <td>{{session.startDate | date:'EEE LLL dd'}}</td>
        <td>{{session.course.subjectAndNumber}}</td>
        <td>{{session.professor.FullName}}</td>
        <td>{{session.description}}</td>
        <td><span (click)="copySessionCode(session)" class="btn btn-primary actionSpace" ngbPopover="{{session.token}}"
          triggers="mouseenter:mouseleave" popoverTitle= "Session Code">Copy Code</span>
           <span (click)="copySessionLink(session)"  class="btn btn-primary actionSpace">Copy Link</span>
           <span (click)="viewSession(session);audioService.playSilentAudio()"  class="btn btn-primary actionSpace">View</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>


<!-- mobile view -->
<div class="smallScreen">
  <h2 class="inlineHeader">{{header}}
    <button class="btn btn-primary inlineButton" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseQL">{{checkIfCollapsed()}}
    <span *ngIf="isCollapsed" class="badge badge-light">{{sessionsLength()}}</span>
  </button>
  </h2>
<div id="collapseQL" [(ngbCollapse)]="isCollapsed">
  <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="search session"/>
  <div class="results">
    <div *ngFor = "let session of sessions | sessionfilter: searchText">
      <span>{{session.course.subjectAndNumber}}- </span>
      <span>{{session.description}} </span>
      <span>({{session.professor.LastName}}) </span>
      <button class="btn btn-primary actionSpace" (click)="viewSession(session);playSlientAudio();">View</button>
        </div>
      <hr>
    </div>
  </div>
</div>
