<input type="text" class="form-control" [(ngModel)]="searchText" placeholder="search session"/>
<div class="results">
<p *ngIf="filter()" class="table-caption">{{label}}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Course</th>
        <th>Professor</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sessionList" *ngFor = "let session of sessions | sessionfilter: searchText">
        <td>{{session.startDate | date:'EEE LLL dd'}}</td>
        <td>{{session.course.subjectAndNumber}}</td>
        <td>{{session.professor.FullName}}</td>
        <td>{{session.description}}</td>
        <td><span (click)="copySessionCode(session)" class="btn btn-primary actionSpace" ngbPopover="{{session.token}}" triggers="mouseenter:mouseleave" popoverTitle= "Session Code">Copy Code</span>
           <span (click)="copySessionLink(session)"  class="btn btn-primary actionSpace">Copy Link</span>
           <span (click)="viewSession(session)"  class="btn btn-primary actionSpace">View</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
