.center{
  text-align:center;
}
.underLine{
  text-decoration: underline;
}
h1{
  margin-left:375px;
}
.actionSpace{
  margin: 5px;
}


.tbody {
    tr:nth-child(odd) > td:nth-child(odd) {
        background: lighten(DodgerBlue, 30%); }
    tr:nth-child(even) > td:nth-child(odd) {
        background: lighten(DodgerBlue, 40%); }
}

.placeInLine{
    position: relative;
    width: 290px;
  }
