<label class="d-inline-block">Notification Sounds:</label>
<div class="onoffswitch">
    <input #myonoffswitch type="checkbox" (change)="toggleAudio()"  name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
<h2 class="center underLine" >{{subjectAndNumber}}: {{description}}</h2>
<p *ngIf="!readOnly" class="center">Last refreshed: {{timeFromRefresh}} </p>
<button class="btn btn-primary back" type="button" [routerLink]="['/dashboard']">back</button>
<br>
<section *ngIf="started">
  <app-ask-question *ngIf="!readOnly" [session]="sessionId" (refreshEvent)="refreshData()"
  (pauseRefresh)="setPauseRefresh($event)" ></app-ask-question>
</section>

<section *ngIf="started">
  <app-question-list [header]="myQHeader" [showAnswerButton]= "true" [showEditButton]= "true"
  [questions]="myQs" [filteredQuestions]="myQs" [isCollapsed]="false" [showFinishButton]="false"
  [showDiscardDraftButton]="false" [readOnly]="readOnly" [playSound]="playSound"
  (refreshEvent)="refreshData()" (pauseRefresh)="setPauseRefresh($event)" ></app-question-list>
</section>

<section *ngIf="started">
  <app-question-list [header]="faqHeader" [showAction]="false" [questions]="faQs"
  [filteredQuestions]="faQs" [showFinishButton]="false" [showDiscardDraftButton]="false" [readOnly]="readOnly" (refreshEvent)="refreshData()"
   [playSound]="playSound" (pauseRefresh)="setPauseRefresh($event)" ></app-question-list>
</section>

<section *ngIf="started">
  <app-question-list [header]="otherQHeader" [showAnswerButton]= "true" [showEditButton]= "true"
  [showMeTooButton]= "true" [questions]="allOtherQs" [filteredQuestions]="allOtherQs" [showFinishButton]="false" [showDiscardDraftButton]="false" [readOnly]="readOnly"
  [playSound]="playSound" (refreshEvent)="refreshData()" (pauseRefresh)="setPauseRefresh($event)"></app-question-list>
</section>

<section *ngIf="!started">
  <h1>This session is not yet available, please come back on<br>{{startDate | date: 'MM/dd/yyyy'}} at {{startDate | date: 'shortTime'}}</h1>
</section>
