<!--modal to assign a question-->
<div class="modal-header">
  <h4 class="modal-title" id="modal-assign" aria-labelledBy="modal-assign">Assign a Question</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- alerts users that users are loading -->
<div class="modal-body">
  <div *ngIf="!sessionReloaded">
    Loading list of users for the session
  </div>

  <div *ngIf="sessionReloaded">

    <form #thisForm="ngForm" *ngIf="sessionTAs.length > 0">
      <div class="form-group row no-gutters">
        <label class="form-label col-md-4" for="emailAddress" class="sr-only">Email address</label>
        <select [(ngModel)]="selectedUser" name="selectedUser">
          <option *ngFor="let ta of sessionTAs" [ngValue]="ta">{{ta.FullName}}</option>
        </select>
      </div>

      <button id="save" type="submit" [disabled]="submitShouldBeDisabled()" name="assignButton" class="btn btn-primary" (click)="assignSelectedUser();">Assign to {{selectedUser.FullName}}</button>
    </form>
    <!-- alerts user if there are no applicable users to assign to -->
    <div *ngIf="sessionTAs.length === 0" class="alert alert-danger">
      <p>
        There are no TAs or other professors currently in the session.
      </p>

      <p>Click the button below to reload the list of session participants.</p>

      <span class="btn btn-outline-primary" (click)="loadSessionUsers()">Reload</span>
    </div>
  </div>
</div>
