<!--form-->
  <form class="needs-validation" novalidate>
      <div class="form-group">
        Title:
        <input type="text" class="form-control" name="title" [(ngModel)]="this.title" required><br>

        Subject:
        <input type="text" class="form-control" name="subject" [(ngModel)]="this.subject" required><br>

        Number:
        <input type="text" class="form-control" name="number" [(ngModel)]="this.number" required><br>

        Semester:<br>
        <input type="radio" name="semester" value="08" [(ngModel)]="this.semester">Fall<br>
        <input type="radio" name="semester" value="01" [(ngModel)]="this.semester">Spring <br>
        <input type="radio" name="semester" value="05" [(ngModel)]="this.semester">May<br>
        <input type="radio" name="semester" value="06" [(ngModel)]="this.semester">June<br>
        <input type="radio" name="semester" value="07" [(ngModel)]="this.semester">July<br><br>
        Year:
        <input type="text" id="date" class="form-control" name="year" [(ngModel)]="this.todayYear" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="createNewCourseFromForm()">Save</button>
        </div>
    </form>
