<div [ngSwitch]="currentUser.Username">

  <form *ngSwitchCase="''" #thisForm="ngForm" (ngSubmit)="onSubmit();loginTimer();" >
    <div class="row form-group">
      <div class="col-12 col-sm-2">
        <label for="Email">Email Address</label>
      </div>

      <div class="col-12 col-sm-8">
        <input [(ngModel)] = "emailAddress" class="form-control" type="email" name="Email" required placeholder="Email address" email/>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-12 col-sm-2">
        <label for="Password">Password</label>
      </div>

      <div class="col-12 col-sm-8">
        <input [(ngModel)] = "password" class="form-control" type="password" name="Password" required placeholder="Your password"/>
      </div>
    </div>

    <div class="row form-group">
      <div class="col">
        <button type="submit" [disabled]="thisForm.invalid" class="btn btn-primary">Log In</button>
      </div>
    </div>

    <div *ngIf="failedLogin" class="alert alert-danger">
      User name or password are incorrect
    </div>

  </form>

<div *ngIf="(this.time > 0 && this.time <= 5 && !failedLogin)">
  <div class="alert alert-primary" role="alert">
    We are contacting the server.
  </div>
</div>
<div *ngIf="(this.time > 5 && this.time <= 15 && !failedLogin)">
  <div class="alert alert-primary" role="alert">
    Thank you for your patience. We are still trying to contact the server.
  </div>
</div>

<div *ngIf="(this.time > 15 && !failedLogin)">
  <div class="alert alert-primary" role="alert">
    There has been a problem contacting the server. Pleases try again later.
  </div>
</div>

  <div *ngSwitchDefault>
    You are already logged in as {{currentUser.Username}}.

    <button class="btn btn-primary" (click)="doLogout()">Log out</button>
  </div>
