.noStyle{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.popular{

}
.notPopular{

}
.fa-hand-paper{
  font-size:2vw;
  float:right;
}
.actionSpace{
  margin: 5px;
}
.inlineHeader{
  display: inline-block;
}

.inlineButton{
  margin-left: 10px;

}

.smallScreen{
  display:none;
}

.collapseContainer {
	display: inline-block;
}

// .ql-editor{
//   font-size: 50px;
// }
.popular{
  background-color: PeachPuff;
}
.popular{
  background-color: none;
}
@media only screen and (max-width: 600px){
  .smallScreen{
    display:inline;
  }
  .largeScreen{
    display:none;
  }
  .qEditor{
    border:none;
    margin-left:10px;
  }
}

#dropdown{
  width: 100px;
  float: left;
}

.button{
  float:left;
}
.ql-editor{
  width:50%;
  border:none;
}
.table-caption{
  font-size:1.5vw;
}
