.noStyle{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.popular{

}
.notPopular{

}
.fa-hand-paper{
  font-size:2vw;
  float:right;
}
.actionSpace{
  margin: 5px;
}
.inlineHeader{
  display: inline-block;
}
.inlineButton{
  margin-left: 10px;
}
