<!-- To determine what elements should be shown, boolean variables such as "showDate"
(as well as question attributes - like whether or not it has an answer)
are input into this model from the student dashboard, student view, and faculty view.
-->

<!-- <head>
<link src="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
</head> -->
<form class="form-inline">
  <label for="SearchMyQuestions">Search</label>
  <input type="text" class="form-control ml-2" name="SearchMyQuestions" placeholder="Text, course, date" [(ngModel)]="filterText"/>
  <button class="btn btn-primary form-control ml-1" (click)="filter()" [disabled]="filterTextIsEmpty()"><span class="fas fa-search"></span></button>
</form>

<div class="results">
  <p class="table-caption">Matching Questions</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><div *ngIf="showDate">Date</div></th>
        <th><div *ngIf="showCourse">Course</div></th>
        <th><div *ngIf="showStep">Step</div></th>
        <th><div *ngIf="showNumberOfAskers">Number of Askers</div></th>
        <th>Question</th>
        <th><div *ngIf="showAskedBy">Asked By</div></th>
        <th><div *ngIf="showTags" >Tags</div></th>
        <th><div *ngIf="showTimeInQueue">Time in queue</div></th>
        <th><div *ngIf="showAnswer">Answer</div></th>
        <th><div *ngIf="showAction">Action</div></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let question of filteredQuestions">
        <td><div *ngIf="showDate">{{question.date | date:'EEE LLL dd'}}</div></td>
        <td><div *ngIf="showCourse">{{question.session.course.subjectAndNumber}}</div></td>
        <td><div *ngIf="showStep">{{question.step}}</div></td>
        <!-- <td><div *ngIf="question.otherAskers.length<=2 && showNumberOfAskers">{{question.otherAskers.length}}</div></td> -->
        <td><div *ngIf="showNumberOfAskers">{{question.otherAskers.length}}<i [ngClass]="question.otherAskers.length>2 ? 'far fa-hand-paper' : 'no_icon'"></i></div></td>
        <td> {{question.text}}</td>
        <td><div *ngIf="showAskedBy">{{question.asker.FullName}}</div></td>
        <td><div *ngIf="showTags">
          <ul *ngFor = "let t of question.tags" class="noStyle">
            <li>{{t}}</li>
          </ul></div></td>
          <td><div *ngIf="showTimeInQueue">{{timeDiff(question)}}</div></td>
          <td><div *ngIf="showAnswer"><a href="#">{{question.answerText}}</a></div></td>
          <!-- If we change container to fluid,
          then these class d-*_block may have to changed accordingly-->
          <td><div *ngIf="showAction" class="d-none d-lg-block d-xl-block">

            <button  *ngIf="showAnswerButton && question.answer === undefined" (click)="setAnswer(); performAction(question)" class="btn btn-primary actionSpace">Add Answer</button>
            <button  *ngIf="showEditButton && question.answer != undefined " (click)="setEdit(); performAction(question)" class="btn btn-primary actionSpace">Edit Answer</button>
            <button  *ngIf="showClaimButton" (click)="setClaim(); performAction(question)" class="btn btn-primary actionSpace">Claim</button>
            <button  *ngIf="showAssignButton" (click)="setAssign(); performAction(question)" class="btn btn-primary actionSpace">Assign</button>
            <button *ngIf="showFAQButton && !question.faq" (click)="setAddFaq(); performAction(question)" class="btn btn-primary actionSpace">Add FAQ</button>
            <button *ngIf="showFAQButton && question.faq" (click)="setRemoveFaq(); performAction(question)" class="btn btn-primary actionSpace" >Remove FAQ</button>
            <button  *ngIf="showDeleteButton" (click)="setDelete(); performAction(question)" class="btn btn-primary actionSpace">Delete</button>
            <button *ngIf="showMeTooButton && question.answer == undefined" (click)="setMeToo(); performAction(question)" class="btn btn-primary actionSpace">Me Too!</button>

          </div></td>
          <td><div *ngIf="showAction" class="d-block d-lg-none">
            <form #thisForm (ngSubmit)="performAction(question)">
              <div class="form-group">
                <select [(ngModel)] = "selectedAction" name="actionList" class="form-control">
                  <option *ngIf="showAnswerButton && question.answer === undefined" value="answer">Answer</option>
                  <option *ngIf="showEditButton && question.answer != undefined" value="edit">Edit</option>
                  <option *ngIf="showClaimButton" value="claim">Claim</option>
                  <option *ngIf="showAssignButton" value="assign">Assign</option>
                  <option *ngIf="showFAQButton && question.faq" value="removeFaQ">Remove FAQ</option>
                  <option *ngIf="showFAQButton && !question.faq" value="addFaQ">Add FAQ</option>
                  <option *ngIf="showDeleteButton" value="delete">Delete</option>
                  <option *ngIf="showMeTooButton"value="meToo">Me Too</option>
                </select>
              </div>
              <button type="submit" class ="btn btn-primary">Submit</button>
            </form>
          </div></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="filterApplied">
      {{filteredQuestions.length}} of {{questions.length}} questions displayed
      <button class="btn btn-primary" (click)="clearFilter()">Clear filter</button>
    </div>
  </div>
