.noStyle{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.popular{

}
.notPopular{

}
.fa-hand-paper{
  font-size:2vw;
  float:right;
}
.actionSpace{
  margin: 5px;
}
<<<<<<< HEAD
.qEditor{
  placeholder:none;
=======
.inlineHeader{
  display: inline-block;
}
.inlineButton{
  margin-left: 10px;
>>>>>>> d449cc9771b6c824260ed904734bbb7718b70f5d
}
