<!-- EDIT AN ANSWER -->
<span (click)="open(content)" class="btn btn-primary actionSpace">Edit Answer</span>

<!-- modal -->
<ng-template #content let-modal let-d="dismiss" let-c="close">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-edit-answer" aria-labelledBy="modal-edit-answer">Edit an answer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- form -->
    <form class="needs-validation" novalidate>
      <div class="form-group">
        Answer:
        <!-- <input type="text" class="form-control" name="text" [(ngModel)]="currentQuestion.answer.text" required><br> -->
        <!-- <quill-editor format="html" name="editAnswer" [(ngModel)]="currentQuestion.answer.text" [styles]="{height: '200px'}" (onFocus)="focus($event)" (onBlur)="blur($event)" (onEditorCreated)="created($event)"></quill-editor> -->
        <quill-editor name="editAnswer" format="text" [(ngModel)]="currentQuestion.answer.text" [styles]="{height: '200px'}" (onFocus)="focus($event)" (onBlur)="blur($event)" (onEditorCreated)="created($event)"></quill-editor>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="editAnswerFromForm(); d('Cross click')">Save</button>
      </div>
    </form>

  </div>
</ng-template>
