<div class="float-right d-inline-block clearfix" ngbDropdown *ngIf="userService.CurrentUser$ | async as user">
  <div *ngIf="user.Username.length > 0">
    <button class="btn btn-outline-default" id="accountDropdown" ngbDropdownToggle>
      <!--  At screen size xs, we'll just show the profile icon  -->
      <!-- <span class="fas fa-user"></span> -->
			<img class="rounded-circle" [src]="gravatarImageUrl(user)"/>
      <!--  At screen size sm , show the user's first name  -->
      <span class="d-none d-sm-inline d-md-none">
        {{user.FirstName}}
      </span>

      <!--  At screen size md or larger, display user's full name-->
      <span class="d-none d-md-inline">
        {{user.FullName}}
      </span>
    </button>

    <div ngbDropdownMenu>
      <button class="dropdown-item">Edit Profile</button>
      <button class="dropdown-item" (click)="logout()">Log out</button>
    </div>
  </div>

</div>
